.footer {
    text-shadow: 2px 2px 8px #1d1c1c;
    text-align: center;
    font-style: italic;
    font-family: Caveat;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}